<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marcia Bailey Penn</title>
    <meta name="theme-color" content="#17599b"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Marcia Bailey Penn">
<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <link rel="shortcut icon" href="img/mp.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="header">
      <!-- background image -->
    </div>

    <ul class="nav navbar navbar-light justify-content-center" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="scarf-tab" data-toggle="tab" href="#scarf" role="tab" aria-controls="scarf" aria-selected="false">SCARVES & BLANKETS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">CONTACT</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

        <div class="container">
          <div class="row align-items-center contact">

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="">
                <img class="avatar mx-auto d-block" src="img/mbp.jpg" alt="Avatar">
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="mx-auto d-block">
                <h5 class="mt-0">About me</h5>
                I was fortunate to be able to attend Kingwood School Cranbrook, in Bloomfield Hills, Michigan, where the high school art department was second to none.
                The weaving studio was magical and I found my lifelong "hobby" there.  I have been participating in art shows and galleries ever since, currently focusing on creating scarves and blankets in the luxurious colors and feel of chenille.

              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="mx-auto d-block">
                Select one of the examples as your template and chose colors and size - or contact me and I will show you photos of what i have in stock.  My inventory is always changing - as I rarely weave the same item twice.

                I look forward to hearing from you.
                <div class="">
                  Location: West Bloomfield, Michigan, USA
                </div>
                <div class="">
                  Phone: 111-222-3333
                </div>
              </div>
            </div>

            <div class="col col-sm-12 col-md-6 col-lg-3">
                <div>
                    <iframe class="mx-auto d-block"  id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1504361.6434703777!2d-84.50205177591913!3d42.572142776814324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824bb0b7a8c3823%3A0x4a330693309bb123!2sWest+Bloomfield+Township%2C+MI!5e0!3m2!1sen!2sus!4v1518751527158"  frameborder="1" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

          </div>
        </div>

      </div>
  <!--  -->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div id="carouselExampleIndicators" class="carousel slide web" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item text-center active">
              <img class="img-fluid" src="img/58.jpg" alt="First slide">
            </div>
            <div class="carousel-item text-center">
              <img class="img-fluid" src="img/60.jpg" alt="Third slide">
            </div>
            <div class="carousel-item text-center">
              <img class="img-fluid" src="img/59.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- mobile carousel -->
        <div id="carouselExampleIndicators2" class="carousel slide mobile" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item text-center active">
              <img class="img-fluid" src="img/58b.jpg" alt="First slide">
            </div>
            <div class="carousel-item text-center">
              <img class="img-fluid" src="img/60b.jpg" alt="Third slide">
            </div>
            <div class="carousel-item text-center">
              <img class="img-fluid" src="img/59b.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    </div>
  <!--  -->
      <div class="tab-pane fade" id="scarf" role="tabpanel" aria-labelledby="scarf-tab">

          <div class="grid-height" id="grid" data-columns>

            <div class="img-cont">
              <img class="scarf image" src="img/23min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  infinity scarf <br> chenille valentina <br> brown/houndstooth
                  <div>
                    Price: $85
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/2min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  9" x 72" <br> chenille valentina <br> burberry pattern
                  <div>
                    Price: $120
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/3min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  close up of <br> chenille valentina <br> log cabin pattern
                  <div>
                    Price: $120
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/1min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  9" x 72" <br> chenille valentina <br> burberry pattern
                  <div>
                    Price: $120
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/5min.png" alt="scarf">
              <div class="middle">
                <div class="text">
                  Lorem ipsum dolor <br> amet, consectetur <br> adipisicing
                  <div>
                    Price: call
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/7min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  9" x 72" <br> chenille valentina <br> red/black/beige
                  <div>
                    Price: $120
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/8min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  10" x 72" <br> chenille <br> beige w soft colors
                  <div>
                    Price: $110
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/9min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  10" x 72" <br> chenille <br> black w cool colors
                  <div>
                    Price: $110
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/10min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  10" x 72" <br> chenille <br> warm color plaid
                  <div>
                    Price: $110
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/12min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  Lorem ipsum dolor <br> amet, consectetur <br> adipisicing
                  <div>
                    Price: call
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/13min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  Lorem ipsum dolor <br> amet, consectetur <br> adipisicing
                  <div>
                    Price: call
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/19min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  60" x 80" <br> chenille throw <br> blanket
                  <div>
                    Price: $345
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/14min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  10" x 72" <br> chenille <br> multi plaid
                  <div>
                    Price: $110
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/16min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  10" x 72" <br> chenille <br> black/dk <br> cherry w silver
                  <div>
                    Price: $110
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/25min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  10" x 72" <br> chenille <br> grey plaid w dk red
                  <div>
                    Price: $110
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/17min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  10" x 72" <br> chenille <br> blue green plaid
                  <div>
                    Price: $110
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/18min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  10" x 72" <br> chenille <br> black/beige/brown <br> log cabin pattern
                  <div>
                    Price: $110
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/21min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  Lorem ipsum dolor <br> amet, consectetur <br> adipisicing
                  <div>
                    Price: call
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/20min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                   chenille baby blanket <br> on the loom
                  <div>
                    Price: call
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/22min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  infinity scarf <br> chenille valentina <br> dk cherry/black
                  <div>
                    Price: $85
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/26min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  9" x 72" <br> chenille valentina <br> green/black plaid
                  <div>
                    Price: $120
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/15min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  9" x 72" <br> chenille valentina <br> black/beige plaid
                  <div>
                    Price: $120
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/27min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  10" x 72" <br> chenille <br> teals w black
                  <div>
                    Price: $110
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/24min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  10" x 72" <br> chenille <br> plaid
                  <div>
                    Price: $110
                  </div>
                </div>
              </div>
            </div>

            <div class="img-cont">
              <img class="scarf image" src="img/11min.jpg" alt="scarf">
              <div class="middle">
                <div class="text">
                  9" x 72" <br> chenille valentina <br> black/cream pattern
                  <div>
                    Price: $120
                  </div>
                </div>
              </div>
            </div>

          </div>

      </div>

    </div>

    <footer class="footer">
      <div>
        <span>Marcia Bailey Penn, &copy 2018</span>
      </div>
    </footer>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="js/salvattore.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
