body {
  background-color: #ECEFF1;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
}

.nav.navbar {
  background-color: #ECEFF1;
}

.header img {
  width: 100%;
}

.header {
  min-height: 60px;
}

/* *************** scarves cokumns ************************ */

#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 33.333%; }

@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

/* ********************************************* */

.scarf {
  padding: 2px;
}

/* ***************** scarf hovering **************************** */

.img-cont {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-cont:hover .image {
  opacity: 0.6;
}

.img-cont:hover .middle {
  opacity: 1;
}

.text {
  background-color: #00695C;
  opacity: 0.9;
  color: #FF6F00;
  font-size: 16px;
  padding: 5px 5px;
  border-radius: 3px;
}

/* ********************************************** */


.footer {
  clear: left;
  height: 30px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer span {
  width: 100%;
  margin: 0 auto;
  color: #17599b;
  font-size: 1.2em;
  font-family: 'Cabin Sketch', cursive;
}

/* *********************************************** */

.avatar {
  height: 300px;
}

#map {
  height: 300px;
  width: 100%;
}

/* ***************** link hovering******************* */
.nav-item a {
  font-weight: 500;
  letter-spacing: 1px;
}

a:link {
  color: #17599b;
}

a:visited {

}

a:hover {
    /* background-color: #E1F5FE; */
    color: #0097A7;
}

a:active {
    /* background-color: #EEEEEE; */
}

.nav-link,
.nav-link:after,
.nav-link:before {
  transition: all .5s;
}

.nav-link {
  position: relative;
}
.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #0097A7;
  height: 1px;
}
.nav-link:hover:after {
  width: 100%;
}


@media screen and (max-width: 480px){
	.nav-link {
    padding-left: 4px;
    padding-right: 4px;
	}
	.nav.navbar {
    padding-left: 0px;
    padding-right: 1px;
	}
}

/* ******************* contact **************************** */


@media screen and (max-width: 480px){
  .contact {
    text-align: center;
  }
}







/* *********************************************** */
