body {
  background-color: #ECEFF1;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.nav.navbar {
  /* background-color: #ECEFF1; */
}

.header {
  height: 250px;
  background-image: url("../img/Slide1.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1500px 250px;
}

@media screen and (max-width: 480px){
  .header {
    height: 100px;
    background-size: 550px 100px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    height: 170px;
    background-size: 900px 170px;
  }
}

/* *************** scarves columns ************************ */

#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}

.column { float: left; }
.size-1of3 { width: 33.333%; }

@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

.scarf {
  padding: 2px;
}

/* ***************** scarf hovering **************************** */

.img-cont {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-cont:hover .image {
  opacity: 0.6;
}

.img-cont:hover .middle {
  opacity: 1;
}

.text {
  background-color: #00695C;
  opacity: 0.9;
  color: #FF6F00;
  font-size: 16px;
  padding: 5px 5px;
  border-radius: 3px;
}

/* ****************** footer **************************** */

.footer {
  clear: left;
  height: 30px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer span {
  width: 100%;
  margin: 0 auto;
  color: #17599b;
  font-size: 1.1em;
  font-family: 'Cabin Sketch', cursive;
}

/* ***************** link hovering******************* */

.nav-item a {
  font-weight: 500;
  letter-spacing: 1px;
}

@media screen and (max-width: 480px){
  .nav-item a {
    font-size: .9em;
  }
}

a:link {
  color: #17599b;
}

a:visited {
}

a:hover {
    color: #0097A7;
}

a:active {
}

.nav-link,
.nav-link:after,
.nav-link:before {
  transition: all .5s;
}

.nav-link {
  position: relative;
}
.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #0097A7;
  height: 1px;
}
.nav-link:hover:after {
  width: 100%;
}

@media screen and (max-width: 480px){
	.nav-link {
    padding-left: 5px;
    padding-right: 5px;
	}
	.nav.navbar {
    padding-left: 0px;
    padding-right: 1px;
	}
}

/* ******************* contact **************************** */

.contact div {
  margin: 10px auto;
}

@media screen and (max-width: 480px){
  .contact {
    text-align: center;
  }
  #map {
    width:100%;
  }
}

.avatar {
  height: 300px;
}

#map {
  width:100%;
  height:300px;
}

/* ******************** carousel *************************** */

.web {
  display: inherit;
}

.mobile {
  display: none;
}

@media screen and (max-width: 480px){
  .web {
    display: none;
  }
  .mobile {
    display: inherit;
  }
}

/* *********************************************** */
